h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

body {
    background-color: rgba(168, 158, 158, 0.308);
}

#tudo {
    width: 300px;
}

#button-addon1 {
    margin-left: 100%;
    margin-top: -22%;
}